

button.button {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    font-weight: 100%;
    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 背景色を濃い青色に指定 */
    background-color: #248;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
    width: 75%;
    height:275px;
}
p.counter{
  width: 100%;
  font-size: 40px
}
